<h2>Pet Listing</h2>

<table> 
	<tr>
		<th>Name</th>
		<th>Age in Year</th>
		<th>Age in Month</th>
		<th>Description</th>
		<th>Pet Type</th>
		<th>Company Name </th>
		<th>Posted By</th>
	</tr>

<% @pets.each do |pet| %>
	<tr>
		<td><%= pet.name %></td>
		<td><%= pet.age_year %></td> 
		<td><%= pet.age_month %></td>
		<td><%= pet.description %></td>
		<td><%= pet.pet_type %></td>
		<td><%= pet.animal_shelter.company_name %> </td>
		<td><%= pet.staff.first_name %></td>
		<% if !logged_in? || current_user.role == "normal_user"  %>
			<td><%= link_to "Adopt", root_path %></td>
		<% else %>
			<td><%= link_to "Delete", root_path %></td> 	
		<% end %>
	</tr>
<% end %>

</table>