<h2>Pet Listing</h2>

<table> 
	<tr>
		<th></th>
		<th>Name</th>
		<th>Age in Year</th>
		<th>Age in Month</th>
		<th>Description</th>
		<th>Pet Type</th>
		<th>Company Name </th>
		<th>Posted By</th>
		<th>Location</th>
	</tr>

<% @pets.each do |pet| %>
	<tr>
		<td><%= image_tag pet.photo, size: "200x200" %></td>
		<td><%= pet.name %></td>
		<td><%= pet.age_year %></td> 
		<td><%= pet.age_month %></td>
		<td><%= pet.description %></td>
		<td><%= pet.pet_type %></td>
		<td><%= pet.animal_shelter.company_name %> </td>
		<td><%= pet.staff.full_name %></td>
		<td><%= pet.animal_shelter.locatopn %> </td>
		<% if !logged_in? %>
			<td>Adopt </td>
		<% elsif current_user.role == "normal_user" %>
			<% if pet.verification == false %>
				<td><%= button_to "Adopt", pet_path(pet), :method => :put %></td>
			<% end %>
		<% elsif current_user.role == "animal_shelter" %>
			<% if pet.verification == false %>
				<td> Adopt </td>
				<td><%= link_to "Delete", pet_path(pet), method: "delete", data: {confirm: 'Are you sure?' },  id: "delete", remote: true %></td>
			<% else %>
				<td> Adopted </td>
			<% end %> 
		<% end %>

	</tr>
<% end %>

</table>
